* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: center;
}

.logoAlura {
  position: absolute;
  left: 2%;
  top: 1em;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.interactuar {
  margin: 3.5em 2em;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.areas {
  padding: 1em;
  resize: none;
  border: 2px solid black;
  border-radius: 1em;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boton {
  margin: 5px;
  width: 12em;
  height: 2.5em;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 29px;
  font-size: 21px;
}

.muñeco {
  position: absolute;
  width: 336px;
  height: 304px;
  left: 71%;
  top: 23%;
}

.mensaje{
  position: absolute;
  left: 70.5%;
  top: 67%;
}
