@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: center;
}

:root {
  --background: #e6f4f1;
  --area: #dceae7;
  --shadow: #b4c1be;
  --button: #2f7745;
  --buttonH: #72ba84;
  --buttonH2: #5c5c5c;
  --font: #333333;
  --letter: #f7f0ff;
}

body {
  background-color: var(--background);
}

main {
  display: flex;
  flex-wrap: nowrap;
}

.logoAlura {
  position: absolute;
  top: 20px;
  left: -10px;
}

.interactuar {
  height: 100%;
  position: relative;
  left: 100px;
  top: 80px;
}

#entrada {
  width: 800px;
  height: 470px;
}

.areas {
  padding: 1em;
  resize: none;
  border-radius: 1em;
  font-size: large;
  background-color: var(--area);
  box-shadow: -7px 7px 10px var(--shadow);
}

/*
.areas:focus {
  outline: none;
}
*/
.validacion {
  margin: 10px 0;
  gap: 10px;
  display: none;
  flex-direction: row;
  align-items: center;
  color: red;
}

.validacion > img {
  animation: pop 3s infinite;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0.8);
  }
}

.botones {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 15px 0;
}

.boton {
  margin: 5px;
  width: 9.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
  border-radius: 29px;
  color: var(--letter);
  background-color: var(--button);
  border: 2px solid var(--button);
  cursor: pointer;
}

.boton:hover {
  background-color: var(--buttonH);
}

#encriptar::after {
  content: "Encriptar";
}

#pegar::after {
  content: "Pegar";
}

#limpiar::after {
  content: "Limpiar";
}

#desencriptar::after {
  content: "Desencriptar";
}

.resultados {
  position: relative;
  left: 200px;
}

#salida {
  width: 350px;
  height: 620px;
  display: flex;
  position: relative;
  top: 30px;
}

#copiar {
  width: 350px;
  background-color: var(--font);
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  left: 15px;
  bottom: 55px;
}

#copiar:hover {
  background-color: var(--buttonH2);
}

.notificacion {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: #333333e1;
  color: var(--letter);
  border-radius: 15px;
  height: 60px;
  width: 33%;
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 33%;
  transform: translateY(30px);
  opacity: 0;
  animation: desplazar 3s linear infinite;
}

@keyframes desplazar {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}

aside {
  height: 100%;
  position: relative;
  z-index: 1;
  left: 220px;
  top: 70px;
}

.muñeco {
  width: 350px;
  animation: spin 2s infinite;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}

.diamante {
  position: absolute;
  width: 75px;
  left: 70px;
  top: 33px;
  animation: diamond 2s infinite;
}

@keyframes diamond {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: rotate(7deg);
  }
  100% {
    transform: translateY(0px);
  }
}

.mensaje {
  position: absolute;
  top: 370px;
  left: 10px;
  animation: up 2s 100ms infinite;
}

@keyframes up {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}

footer {
  color: var(--font);
  display: flex;
  gap: 15px;
  position: absolute;
  top: 725px;
  left: 600px;
}

a {
  color: var(--font);
}

.github:hover {
  color: var(--buttonH);
}

.linkedin:hover {
  color: var(--buttonH);
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .interactuar {
    left: 90px;
    top: 110px;
  }

  #entrada {
    width: 90%;
    height: 300px;
  }

  .validacion {
    margin-top: 18px;
    height: 0px;
  }

  .botones {
    width: 90%;
    position: relative;
    top: 5px;
    gap: 25px;
    left: 20px;
    justify-content: space-evenly;
  }
  .resultados {
    width: 100%;
    position: absolute;
    top: 540px;
    left: 90px;
  }

  #salida {
    width: 90%;
    height: 300px;
  }

  #copiar {
    width: 100%;
    left: -5px;
  }

  .muñeco,
  .diamante {
    display: none;
  }

  .mensaje {
    display: flex;
    top: 140px;
    left: 13%;
  }

  .notificacion {
    font-size: large;
    width: 50%;
  }

  footer {
    position: absolute;
    top: 1000px;
    left: 42.5%;
    transform: scale(1.2);
  }
}
@media screen and (max-width: 640px) {
  body {
    width: 50%;
    margin: 0;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .logoAlura {
    position: relative;
    left: 75%;
  }
  .interactuar {
    width: 155%;
    left: 16px;
    top: 30px;
  }

  #entrada {
    width: 118%;
    height: 300px;
  }

  .validacion {
    font-size: small;
    width: 500px;
    margin-top: 18px;
  }

  .botones {
    position: relative;
    left: 15%;
    top: 5px;
    gap: 50px;
  }

  .boton {
    transform: scale(1.3);
  }

  #encriptar::after {
    content: url(./Images/encriptado.svg);
  }

  #pegar {
    display: none;
  }

  #limpiar {
    display: none;
  }

  #desencriptar::after {
    content: url(./Images/desencriptado.svg);
  }

  .resultados {
    width: 155%;
    position: relative;
    left: 16px;
    top: 5px;
  }

  #salida {
    width: 118%;
    height: 300px;
  }

  #copiar {
    position: relative;
    height: 30px;
    width: 93%;
    left: 3%;
    top: -50px;
  }

  .muñeco,
  .diamante {
    display: none;
  }

  .mensaje {
    width: 150%;
    left: -85%;
    top: 60px;
  }

  .notificacion {
    font-size: small;
    width: 70%;
    left: 22%;
  }

  footer {
    position: absolute;
    top: 900px;
    left: 20%;
    transform: scale(0.8);
  }
}
